form {
    display: flex;
    justify-content: center;
}

input[type="number"] {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
}

input[type="number"]:focus {
    outline: none;
    border-color: blue;
}